#login-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

#login-box {
  background-color: black;
  color: aliceblue;
  margin: auto;
  width: 40%;
}

#stretch {
  display: flex;
  flex-direction: column;
}

.span-button {
  width: 100%;
}

@media (max-width: 950px) {
  #login-box {
    margin: auto;
    width: 60%;
  }
}

@media (max-width: 600px) {
  #login-box {
    margin: auto;
    width: 90%;
  }
}
