<div id="login-page">
  <div class="card" id="login-box">
    <div class="card-body">
      <h2 class="card-title pb-3">{{ cardTitle }}</h2>
      <div class="row mb-3">
        <div class="col-12 pr-3 pl-3">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-12 pr-3 pl-3 pt-3">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div id="stretch" class="pt-3">
          <button href="#" class="btn btn-primary">Login</button>
          <div class="mt-2" style="text-align: center;">Don't have an account yet? <a href="#">Sign up</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
