<div id="page-container">
  <h1>Dashboard</h1>
  <img src="assets/splix-logo.png" alt="splix-logo" />
  <p></p>
  <img src="assets/splix-logo.png" alt="splix-logo" />
  <p></p>
  <img src="assets/splix-logo.png" alt="splix-logo" />
  <p></p>
  <img src="assets/splix-logo.png" alt="splix-logo" />
  <p></p>
  <img src="assets/splix-logo.png" alt="splix-logo" />
  <p></p>
  <img src="assets/splix-logo.png" alt="splix-logo" />
  <p></p>
  <img src="assets/splix-logo.png" alt="splix-logo" />
  <p></p>
  <img src="assets/splix-logo.png" alt="splix-logo" />
  <p></p>
  <img src="assets/splix-logo.png" alt="splix-logo" />
</div>
