.page-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid;
  border-color: #1118ce;
}

.temp-empty-section {
  height: 50px;
  border-style: dotted;
  border-color: rgb(114, 112, 112);
  border-radius: 20px;
  width: 200px;
}

.card-info-section {
  height: 50px;
  border-style: solid;
  border-color: rgb(114, 112, 112);
  border-radius: 20px;
  width: 200px;
  cursor: pointer;
}

.groups-container {
  display: flex;
  gap: 10px 10px;
  flex-wrap: wrap;
}

.empty-section-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(187, 189, 189);
  opacity: 0.8;
}

.empty-section-info:hover {
  background-color: rgb(158, 158, 158);
  opacity: 0.4;
}
