/* You can add global styles to this file, and also import other style files */
body {
  background-color: #2c2a2a;
  color: beige;
}

#page-container {
  padding: 20px;
  width: 80%;
}

.form-control {
  background-color: #696868;
  color: antiquewhite;
}

.layout-container {
  width: 100%;
}

.sidebar-width {
  width: 20%;
}

.general-modal {
  background-color: black;
  border-radius: 20px;
}

.modal-content {
  border-radius: 25px;
}

.modal-header {
  border-color: blue;
}

.modal-footer {
  border-color: blue;
}

@media (max-width: 1000px) {
  .sidebar-width {
    width: 30%;
  }
}

@media (max-width: 800px) {
  .sidebar-width {
    width: 40%;
  }
}
