.sidebar {
  color: white;
  background-color: black;
  height: 100vh;
  position: fixed;
}

.sidebar-logo {
  width: 200px;
}

.sidebar-logo-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  cursor: pointer;
  list-style-type: none;
}

.active {
  color: rgb(9, 25, 255);
  background-color: #aca8a8;
  font-weight: bolder;
  opacity: 0.5;
}

.nav-item:hover {
  background-color: #696868;
}

ul.nav-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin: 0;
  padding: 10px;
}
