<div class="sidebar-width">
  <div class="sidebar sidebar-width">
    <div class="sidebar-logo-container">
      <img class="sidebar-logo" src="assets/splix-logo.png" alt="splix-logo" />
    </div>
    <div
      class=""
      style="
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      "
    >
      <div>
        <ul class="nav-list" style="padding: 0; margin: 0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active"
              >Dashboard</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="nav-list" style="padding: 0; margin: 0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active"
              >Setting</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
