<div id="login-page">
  <div class="card" id="login-box">
    <div id="login-logo">
      <img class="login-logo-img" src="assets/splix-logo.png" />
    </div>
    <div class="card-body">
      <h2 class="card-title">Sign up!</h2>
      <div class="row mb-3 pt-2">
        <div class="col-12 pr-3 pl-3 pt-3">
          <label for="inputUserName" class="form-label">Username</label>
          <input type="email" class="form-control" id="inputUserName" />
        </div>
        <div class="col-12 pr-3 pl-3 pt-3">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="password" class="form-control" id="inputEmail4" />
        </div>
        <div class="col-12 pr-3 pl-3 pt-3">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4" />
        </div>
        <div class="col-12 pr-3 pl-3 pt-3">
          <label for="inputPasswordConfirm" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="inputPasswordConfirm"
          />
        </div>
        <div id="stretch" class="pt-5">
          <button href="#" class="btn btn-primary">Create Account</button>
          <div class="mt-2" style="text-align: center">
            Already have an account? <a routerLink="/login">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
