<div class="page-title">
  <h1>
    {{ group.name }}
  </h1>
</div>
<div class="groups-container mt-3 mt-3">
  <div class="member-pill" *ngFor="let user of group.users">
    <div (click)="removeGroupMember(user.id)">
      <p class="p-3 m-0 overflow-auto">
        {{ user.userName }}
      </p>
    </div>
  </div>
  <div
    class="empty-member empty-section-info"
    (click)="openModal(addMemberContent)"
  >
    <p class="p-3 m-0">Click to add members!</p>
  </div>
</div>
<div class="expense-box-section-lg mt-3" *ngFor="let expense of expenses">
  <div class="p-3 expense-content">
    <div>
      <p><span class="field-label">Id:</span> {{ expense.id }}</p>
      <p><span class="field-label">Amount:</span> {{ expense.amount }}</p>
      <p>
        <span class="field-label">Paid by:</span>
        {{ expense.paidByUser?.userName || expense.paidByUser?.email }}
      </p>
    </div>
    <div>
      <button
        class="btn btn-outline-primary m-1"
        (click)="openExpenseEditModal(editAmountContent, expense)"
      >
        edit
      </button>
      <button
        class="btn btn-outline-danger m-1"
        (click)="deleteExpense(expense.id)"
      >
        delete
      </button>
    </div>
  </div>
</div>
<div
  class="temp-empty-section-lg mt-3 empty-section-info"
  (click)="openModal(addExpenseContent)"
>
  <p class="m-0">Click here to add expenses!</p>
</div>

<div
  *ngIf="expenses.length"
  class="border-3 border-white border-primary p-2 m-2"
  style="border-top: 5px solid white"
>
  <div class="calc-section">
    <div>Total: {{ total }}</div>
    <button class="btn btn-primary" (click)="split()">Split</button>
  </div>
</div>
<div class="p-2" *ngFor="let text of splitResultTexts">
  <p>{{ text }}</p>
</div>

<ng-template #addMemberContent let-modal>
  <div class="general-modal">
    <div class="modal-header">
      <h4 class="modal-title">Add Member</h4>
      <button
        type="button"
        class="btn btn-outline-danger"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        X
      </button>
    </div>
    <div class="modal-body">
      <label for="groupName" class="form-label"
        >Who do you want to add? Enter their email if the user exists we will
        add them to your group</label
      >
      <input
        [(ngModel)]="groupMemberToBeAdded.userEmail"
        (keyup.enter)="addGroupMember()"
        type="text"
        class="form-control bg-light"
        id="groupName"
        style="color: black"
      />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="modal.close('Close click')"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="addGroupMember()">
        Add
      </button>
    </div>
  </div>
</ng-template>

<ng-template #addExpenseContent let-modal>
  <div class="general-modal">
    <div class="modal-header">
      <h4 class="modal-title">Add Expense</h4>
      <button
        type="button"
        class="btn btn-outline-danger"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        X
      </button>
    </div>
    <div class="modal-body">
      <label for="groupName" class="form-label">Who covered the cost?</label>
      <div ngbDropdown class="d-lg-flex">
        <button
          type="button"
          class="btn btn-outline-primary w-100"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ paidUser?.email }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            *ngFor="let user of group.users"
            (click)="setPaidUser(user)"
          >
            {{ user.email }}
          </button>
        </div>
      </div>
      <label for="groupName" class="form-label">How much was spent?</label>
      <input
        [(ngModel)]="expenseToBeCreated.amount"
        (keyup.enter)="createExpense()"
        type="number"
        class="form-control bg-light"
        id="groupName"
        style="color: black"
      />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="modal.close('Close click')"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="createExpense()">
        Add
      </button>
    </div>
  </div>
</ng-template>

<ng-template #editAmountContent let-modal>
  <div class="general-modal">
    <div class="modal-header">
      <h4 class="modal-title">Edit Expense</h4>
      <button
        type="button"
        class="btn btn-outline-danger"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        X
      </button>
    </div>
    <div class="modal-body">
      <p><span class="field-label">Id:</span> {{ expenseToBeEdited?.id }}</p>
      <p>
        <span class="field-label">Paid by:</span>
        {{
          expenseToBeEdited?.paidByUser?.userName ||
            expenseToBeEdited?.paidByUser?.email
        }}
      </p>
      <label for="amount" class="form-label">Amount</label>
      <input
        [(ngModel)]="expenseToBeEdited!.amount"
        (keyup.enter)="editExpense()"
        type="text"
        class="form-control bg-light"
        id="amount"
        style="color: black"
      />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="modal.close('Close click')"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="editExpense()">
        Edit
      </button>
    </div>
  </div>
</ng-template>
