.page-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid;
  border-color: #1118ce;
}

.empty-member {
  height: 40px;
  border-style: dotted;
  border-color: rgb(114, 112, 112);
  border-radius: 20px;
}

.temp-empty-section-lg {
  min-height: 150px;
  border-style: dotted;
  border-color: rgb(114, 112, 112);
  border-radius: 20px;
}

.expense-box-section-lg {
  min-height: 150px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.field-label {
  color: #1118ce;
}

.expense-content {
  display: flex;
  justify-content: space-between;
}

.calc-section {
  display: flex;
  justify-content: space-between;
}

.groups-container {
  display: flex;
  gap: 10px 10px;
  flex-wrap: wrap;
}

.empty-section-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(187, 189, 189);
  opacity: 0.8;
}

.member-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(187, 189, 189);
  opacity: 0.8;
  border-radius: 20px;
  height: 40px;
}

.member-pill:hover {
  background-color: rgb(192, 92, 92);
  opacity: 0.4;
  cursor: pointer;
}

.empty-section-info:hover {
  background-color: rgb(158, 158, 158);
  opacity: 0.4;
  cursor: pointer;
}
